form input[type="text"], form input[type="email"]{
    width: 15vw;
}

form input#name{
    margin-left:1vw;
}

form input#email{
    margin-left:2.5vw;
}

form input#asunto{
    margin-left:1.5vw;
}

form textarea#description{
    width: 21vw; 
    height: 100px;
}
