body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header{
    margin: 0 auto;
    width: 84vw;
    padding: 2vw;
    background-color: #23282B;
}
#logotipo img{
    width:50px;
}
.nav{
    box-shadow: 0px 22px 22px gray;
}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #23282B;
    float: left;
}
.relleno-barra{
    display: flex;
    background-color: #23282B;
    width: 83.59vw;
    border-top: 10px solid #23282B;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #23282B;
    float: right;
}