body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1.title{
    font-size: 30px;
}
header{
    margin: 0 auto;
    width: 84vw;
    padding: 2vw;
    background-color: #23282B;
}
#logotipo img{
    width:50px;
}
.nav{
    box-shadow: 0px 22px 22px gray;
}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #23282B;
    float: left;
}
.relleno-barra{
    display: flex;
    background-color: #23282B;
    width: 83.59vw;
    border-top: 10px solid #23282B;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #23282B;
    float: right;
}
#content{
    height: 80vh;
    width: 82vw;
    border-radius: 2px;
    box-sizing: content-box;
}
.code-item, .year-item{
    list-style: none;
}
footer{
    box-shadow: 0px 0px 20px gray;
}
.date {
    display: block;
    margin: 15px 0;
    color: gray;
}
.content{
    line-height: 25px;
}
p{
    text-align: justify;
}
.right{
    float: right;
}
.left{
    float: left;
    margin-right: 1vw;
}